.container {
  padding: 16px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
.carousel-inner img{
  width: 100%;
  height: 90vh;
}
.carousel-inner h2 {

  color: blue;
  font-size: 40px;
  font-weight: 700%;
  letter-spacing: 0.5px;
  
}

.carousel-inner p {

  color: black;
  font-size: 25px;
  font-weight: 700%;
  letter-spacing: 0.5px;
  
}
html, body {
  height: 100%;
}

.content-wrapper {
  min-height: 100%;
  margin-bottom: -60px; /* Negative margin to account for the footer height */
}

.footer {
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  width: 100%;
  position: relative; /* Relative positioning for the footer */
  bottom: 0; /* Position the footer at the bottom */
}

.header {
  background-color: #1e88e5;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.contact-section {
  padding: 2rem 0;
}

.contact-form {
  width: 50%;
  margin: auto;
}

.contact-form label {
  font-size: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 0.5rem 1rem;
  background-color: #1e88e5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #1565c0;
}

.col-lg-4 .card-img-top {
  height: 300px; /* Adjust the height as needed */
  object-fit: cover; /* This ensures the image covers the entire container */
}
